/* vars */
/* mixins */
.clear {
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  line-height: 0;
  visibility: hidden;
  display: block;
}
/* default */
html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #ccc;
  color: #333;
  font-family: 'Open Sans', sans-serif;
}
/* container */
.container {
  position: relative;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
}
/* controls */
.control_pad {
  padding: 0.5em 1em 0.5em 1em;
}
#controls {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 300px;
  background-color: #ffffff;
  -webkit-box-shadow: 1px 0 9px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 0 9px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 0 9px 2px rgba(0, 0, 0, 0.3);
  /* legend */
}
#controls .control-item {
  border-top: 1px solid #7e7e7e;
}
#controls .control-item span.control-title {
  padding: 1em;
  font-size: 1.2em;
  font-weight: bold;
  color: #ffffff;
  background-color: #FF0014;
  display: block;
}
#controls .control-item .control-container {
  margin: 1em 0 1em 0;
  padding: 0.5em 1em 0.5em 1em;
}
#controls .control-item:first-child {
  border: 0;
}
#controls p {
  padding: 0.5em 1em 0.5em 1em;
  display: block;
}
#controls p small {
  line-height: 1.2em;
}
#controls ul,
#controls ul li {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  display: block;
}
#controls ul li {
  position: relative;
  padding: 0.25em 0 0.25em 45px;
  font-size: 0.8em;
}
#controls ul li:before {
  position: absolute;
  left: 0;
  margin: 0;
  content: " ";
  width: 30px;
  height: 100%;
  display: block;
}
#controls ul li:after {
  font-size: 0;
  display: block;
  content: " ";
  clear: both !important;
  height: 0;
  line-height: 0;
  visibility: hidden;
}
#controls ul li.bar:before {
  top: calc(50% - 1px);
  border: 0;
  border-top: 2px solid transparent;
  height: 2px;
}
#controls ul li.thick:before {
  top: calc(50% - 3px);
  border-top: 6px solid transparent;
  height: 6px;
}
#controls ul li.waterfront-lrt:before {
  border-color: #A0D5FF;
}
#controls ul li.scarborough-subway:before {
  border-color: #2D0072;
}
#controls ul li.sheppard-rt:before {
  border-color: #DB00FF;
}
#controls ul li.ece:before {
  border-color: #BDC3D0;
}
#controls ul li.relief-subway-line:before {
  border-color: #FF0000;
}
#controls ul li.jane-lrt:before {
  border-color: #FF9416;
}
#controls ul li.king-st-pilot:before {
  border-style: dashed;
  border-color: #000;
}
#controls ul li.proposed-go:before {
  left: 20px;
  top: 7px;
  width: 10px;
  height: 10px;
  background-color: #007630;
  border-radius: 50%;
}
#controls ul li.eglinton-crosstown:before {
  border-color: #006492;
}
#controls ul li.finch-west-lrt:before {
  border-color: #00D09F;
}
#controls ul li.yonge-university:before {
  border-color: #FFC900;
}
#controls ul li.bloor-danforth:before {
  border-color: #00B550;
}
/* toggle switch */
.switch {
  position: relative;
  margin: 0 0 1em 0;
  display: block;
  width: 100%;
  font-weight: bold;
  font-size: 0.9em;
  color: #000;
  cursor: pointer;
}
.switch input {
  display: none;
}
.slider {
  position: absolute;
  top: 5px;
  right: 0;
  bottom: 0;
  width: 40px;
  height: 10px;
  background-color: #E0E0E0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 10px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 0;
  bottom: -5px;
  background-color: #949494;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}
input:checked + .slider {
  background-color: #85B5FF;
}
input:checked + .slider:before {
  background-color: #4200D4;
}
input:focus + .slider {
  box-shadow: 0 0 1px #85B5FF;
}
input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}
/* page */
#maps {
  position: relative;
  width: auto;
  height: 100% !important;
}
#maps img {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  display: block;
  opacity: 0;
}
#maps img:first-child {
  position: relative;
  animation-name: none;
  opacity: 1;
}
#maps img.active {
  animation-name: _img_on;
  animation-duration: 0.45s;
  animation-timing-function: ease-in;
  animation-delay: 0;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-fill-mode: none;
  animation-play-state: initial;
  opacity: 1;
}
#maps img.off {
  animation-name: _img_off;
  animation-duration: 0.45s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-fill-mode: none;
  animation-play-state: initial;
  opacity: 0;
}
@keyframes _img_on {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes _img_off {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
